<div id="navbar-page">
    <div class="sidebar-page home-page navbar-page">
        <section class="navbar-section-groups">
            <ul class="menu-list">
                <li class="{{ activeNavItem('user.home.index') }}">
                    <a href="{{ route('user.home.index') }}">
                        <span class="material-icons-outlined">home</span>
                        <span>Główna</span>
                    </a>
                </li>

                <li class="{{ activeNavItem('user.profile.index') }}">
                    <a href="{{ route('user.profile.index') }}">
                        <span class="material-icons-outlined">face</span>
                        <span>Profil</span>
                    </a>
                </li>

                <li class="{{ activeNavItem('user.default-groups.index') }}">
                    <a href="{{ route('user.default-groups.index') }}">
                        <span class="material-icons-outlined">favorite_border</span>
                        <span>Grupy przewodnie</span>
                    </a>
                </li>

                <li class="{{ activeNavItem('user.groups.index') }}">
                    <a href="{{ route('user.groups.index') }}">
                        <span class="material-icons-outlined">loyalty</span>
                        <span>Grupy</span>
                    </a>
                </li>

                <li class="{{ activeNavItem('user.friends.index') }}">
                    <a href="{{ route('user.friends.index') }}">
                        <span class="material-icons-outlined">people</span>
                        <span>Znajomi</span>
                    </a>
                </li>

                <li class="{{ activeNavItem('user.settings.index') }}">
                    <a href="{{ route('user.settings.index') }}">
                        <span class="material-icons-outlined">settings</span>
                        <span>Ustawienia</span>
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <span class="navbar-copyright">{{ env('PROJECT_NAME') }} © {{ date('Y') }}</span>
</div>
