{% extends 'auth.html.twig' %}

{% block title %} {{ __('Register') }} {% endblock %}
{% block subtitle %} {{ __('Create new account') }} {% endblock %}

{% block auth_content %}
    <form
        class="form"
        method="POST"
        autocapitalize="off"
        autocomplete="off"
        id="form-register"
        action="{{ route('auth.register.index') }}"
    >
        <input type="hidden" value="{{ csrfToken() }}" name="csrf_token">

        <div class="form-prepend-group form-group">
            <div class="form-prepend">
                <span class="material-icons-outlined">person</span>
            </div>

            <input name="username" placeholder="Nazwa użytkownika" id="username" class="form-control required">
        </div>

        <div class="form-prepend-group form-group">
            <div class="form-prepend">
                <span class="material-icons-outlined">mail_outline</span>
            </div>

            <input name="email" placeholder="Adres e-mail" id="email" class="form-control required">
        </div>

        <div class="form-prepend-group form-group">
            <div class="form-prepend">
                <span class="material-icons-outlined">lock</span>
            </div>

            <input type="password" name="password" placeholder="Hasło" id="password" class="form-control required">
        </div>

        <button type="submit" class="custom-button color-white bg-color-black">
            <span>Utwórz konto</span>
        </button>
    </form>

    <div class="form-footer">
        <span>lub</span>

        <a href="{{ route('auth.login.index') }}" class="custom-button color-white bg-color-green">
            Zaloguj się
        </a>
    </div>
{% endblock %}
